html, body{
	height:100%;
}
#questionText {
	overflow:auto;
	padding-right:20px;
}
#answerTemplate {
	display:none;
/*	margin-left:15px;*/
}
#answers {
	overflow:auto;
	padding-top:35px;
}
#feedback {
	/*padding-top:20px;*/
}
.answerText{ 
	padding:2px 0px 20px 10px;
	display:block;
	cursor:pointer;
}
#resultsText {
	display:none;
	background-color:#FFC;
	position:absolute;
	left:0px;
	top:80px;
	width:850px;
	height:320px;
}
#reviewWin {
	/*display:none;*/
	visibility: hidden;
	background-color:white;
	position:absolute;
	left: 20%;
    right: 20%;
	top: 10%;
	/*height: 320px;*/
	height: 70%;
	border:1px solid #000000;
	-webkit-box-shadow: 0px 0px 60px #333;
	box-shadow: 0px 0px 30px 5px #777;
	filter:progid:DXImageTransform.Microsoft.Shadow(Direction=135, Strength=8, Color='gray'); 	
}
.reviewWinTitle {
	font-weight:bolder;
	color: white;
	background: #2965A5;	
	padding: 10px 20px;
}
#reviewWinText{
	height:210px;
	overflow:auto;
	border-bottom:1px solid #999;
	margin: 20px;
}
.green-arrow {
	background:transparent url('../interface/arrow.png') no-repeat -7px 3px;
}
.correct {
    background-position:25px 3px;
    -webkit-transition: background-position 0.5s ease-out;
    transition: background-position 0.5s ease-out;
}
input[type="radio"], input[type="checkbox"]{
	width:16px;
	height:16px;
	cursor:pointer;		
}
#btnContainer {
	margin: 0px 20px 20px;
}