 
#graphic { /* this makes the background image the full width and height of the window -- ratio not important */
	width:100%;
	height:100%;
}
.cardArea {
    position: absolute;
    top: 57px;
    right: 0;
    bottom: 0;
    overflow: hidden;
	width:100%;
}
 
#instructions {
    overflow:auto;
	margin: 0 14%;
	text-align:center;
    color:#37424a;
}
 
#cards-container {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.card {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow:hidden;
    z-index: 1;
    opacity: 0;
    -webkit-transition: all 0.5s cubic-bezier(.1,.5,.1,1);
    transition: all 0.5s cubic-bezier(.1,.5,.1,1);
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    -webkit-perspective: 4000px;
    perspective: 4000px;
}

.card .front,
.card .back {
    position: absolute;
    top: 5%;
    right: 13%;
    bottom: 2%;
    left: 13%;
    background-color: #f7f7f7;
    border-radius: 8px;
    overflow: hidden;
    cursor: pointer;
    -webkit-transition: all 0.75s cubic-bezier(.1,.5,.1,1);
    transition: all 0.75s cubic-bezier(.1,.5,.1,1);
    -webkit-backface-visibility: hidden;
   	backface-visibility: hidden;
}
.show {display:block;}
.hide {display:none;}
#frontInstructions,
#backInstructions {
	color:#3b3c3d;
    text-align: center;
    position: absolute;
    margin: 10px 0 0 0;
    width: 100%;
}
.card .front .content {
    height: 69%;
    overflow-y: auto;
    padding: 0 50px;
	margin-top:48px;
}
.card .back .content {
    height: 67%;
    overflow-y: auto;
    padding: 58px 50px 0 50px;
}
.card .front .content p {
	margin: 0;
    font-size: 28px;
    font-size: 2.9vw;
    line-height: 36px;
    line-height: 3.7vw;
}
.card .back .content  p {
	margin:0 0 9px 0;
    font-size: 28px;
    font-size: 2.9vw;
    line-height: 36px;
    line-height: 3.7vw;
}
.card .front .content i,
.card .back .content  i{
    font-size: 16px;
	font-size: 1.63vw;
	font-style: italic;
	line-height:normal;
	display:block;
	text-align:center;
    letter-spacing: 0.05em;
}
.i_before {
	position: absolute;
    top: 25px;
    left: 20px;
    padding: 0 20px;
    right: 20px;
}
.i_after {
	position: absolute;
    bottom: 5px;
    left: 20px;
    padding: 0 20px;
    right: 20px;
}
.card .front {
    z-index: 2;
    -webkit-transform: rotateY(0deg);
    -ms-transform: rotateY(0deg);
    transform: rotateY(0deg);
    background-color: #f37738;
    color: #ffffff;
    box-shadow: 3px 3px 9px 2px rgba(99, 100, 102, 0.29);
}
.card .back {
    -webkit-transform: rotateY(-180deg);
    -ms-transform: rotateY(-180deg);
    transform: rotateY(-180deg);
    background-color: #f69564;
    color: #ffffff;
    box-shadow: 3px 3px 9px 2px rgba(99, 100, 102, 0.29);
}
.card .back li {
	text-align:left;
}

.card.flip .front {
    -webkit-transform: rotateY(180deg);
    -ms-transform: rotateY(180deg);
    transform: rotateY(180deg);
}

.card.flip .back {
    z-index: 3;
    -webkit-transform: rotateY(0deg);
    -ms-transform: rotateY(0deg);
    transform: rotateY(0deg);
}

.card.fade {
     z-index: 2;
    opacity: 1;
    -webkit-transition: opacity 1s cubic-bezier(.1,.5,.1,1);
    transition: opacity 1s cubic-bezier(.1,.5,.1,1);
}

#actions {
/*
    position: absolute;
    top: 94%;
    right: 0;
    bottom: 0;
    left: 0;
    text-align: center;
*/
	z-index:200;
}

#actions a.next,
#actions a.previous {
    margin: 0 5px 0 5px;
}
#nextBtn {
    border: none;
    box-shadow: none;
    background: url('../interface/flash_cards_next.png') no-repeat;
	background-color:transparent;
    top: 50%;
    position: absolute;
    right: 5%;
    height: 60px;
    width: 60px;
	z-index:200;
	cursor:pointer;
}
#nextBtn.btn:disabled {
   background: url('../interface/flash_cards_next_disabled.png') no-repeat;
   opacity:initial;
}
#nextBtn.btn.disabled {
   background: url('../interface/flash_cards_next_disabled.png') no-repeat;
   opacity:initial;
}
#previousBtn {
    border: none;
    box-shadow: none;
    background: url('../interface/flash_cards_prev.png') no-repeat;
	background-color:transparent;
    top: 50%;
    position: absolute;
    left: 7.2%;
    height: 60px;
    width: 60px;
	z-index:200;
	cursor:pointer;
}
#previousBtn.btn:disabled {
   background: url('../interface/flash_cards_prev_disabled.png') no-repeat;
   opacity:initial;
}
#previousBtn.btn.disabled {
   background: url('../interface/flash_cards_prev_disabled.png') no-repeat;
   opacity:initial;
}
#shuffleBtn {
    border: none;
    box-shadow: none;
    background: url('../interface/flash_cards_shuffle.png') no-repeat;
	background-color:transparent;
    bottom: 14%;
    position: absolute;
    left: 49%;
    height: 40px;
    width: 40px;
	z-index:200;
	cursor:pointer;
}
#shuffleBtn.btn:disabled {
   background: url('../interface/flash_cards_shuffle_disabled.png') no-repeat;
   opacity:initial;
}
#shuffleBtn.btn.disabled {
   background: url('../interface/flash_cards_shuffle_disabled.png') no-repeat;
   opacity:initial;
}
/* Flash Card button images */
.fc_forward , .fc_back, .fc_shuffle {
    position:relative;
    top:1px; 
    width:20px;
    height:20px;
    display:inline-block;
    vertical-align:text-bottom;
    background-repeat:no-repeat;
}
.fc_forward {background:url('../interface/flash_cards_next_sm.png') no-repeat;}
.fc_back {background:url('../interface/flash_cards_prev_sm.png') no-repeat;}
.fc_shuffle {background:url('../interface/flash_cards_shuffle_sm.png') no-repeat;}