/*** Add Ccstom styles to the bottom of this file ***/

#toolTipDiv {
	padding:0px;
	-webkit-box-shadow: 0px 0px 20px #333;  
	box-shadow: 0px 0px 30px 5px #777; 
	filter:progid:DXImageTransform.Microsoft.Shadow(Direction=135, Strength=8, Color='gray');
	background-color:#ffffff;
	border: 3px solid #ffffff;
	border-radius: 10px;
	z-index: 1040;
}
.tt_standard {
	min-width: 400px;
	width: 550px;
}
.tt_link {
	font-weight:bold;
	color:#008000;
	text-decoration:none;
	cursor:pointer;
}
.tt_link:hover {
	text-decoration:underline;
}
#tt_header {
    width:100%;
	background-color:#065baa;
	cursor:pointer;
	border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}
.header-correct #tt_header {
	background-color:#228b22;
}
.header-incorrect #tt_header {
	background-color:#c83d19;
}
#tt_title {
	font-size:16px;
	line-height:normal;
	font-weight:bold;
	color:#ffffff;
	text-align:left;
	margin: 0 20px;
    padding: 8px 25px 10px 0;
}
#tt_contents { 
    padding: .5em .7em;
	overflow: auto;
}
#tt_text { 
	font-size:14px;
	color:#333333;
	line-height:23px;
	background-repeat:no-repeat;
	background-position:20px 28px;
    padding: 24px 20px 55px 150px;
}
#tt_close {
    right:0px;
	position:absolute;
	width:65px;
	height:28px;
	margin:-34px 15px 0px 0px;
	background-image:url("../interface/popupclose.png");
	background-repeat:no-repeat; 
	background-position-x:right;
	cursor:pointer;
	color:#ffffff;
	font-size: 12px;
	line-height:28px;
}	
#tt_contents img {
    max-width: 90%;
    max-height: 90%;
    margin: 2% auto;
}
#tt_play_audio{
	cursor:pointer;
	position:absolute;
    margin: -32px 0px 0px 15px;
}
#tt_rewind_audio{
	cursor:pointer;
	position:absolute;
	margin-left:35px;
	margin-top: 10px;
}


/* What is this for? */
/*.next {
	position:relative;
	top:0px; 
	left:2px;
	width:20px;
	height:20px;
	display:inline-block;
	vertical-align:text-bottom;
	background-image:url(../interface/prompt_next_arrow.png);
	background-repeat:no-repeat;
	border: 4px #ff00ff;
}*/

/***** CUSTOM STYLES *****/
/*** Add custom styles here to override styles above ***/
/*** EXAMPLES ***/
.tallAndWide { /* Sample style */
	width: 800px;
	height: 450px;
}
.customColor-red > #tt_header {
	background-color: darkred;
}
/*** END EXAMPLES ***/


/*** END CUSTOM STYLES ***/