<?xml version="1.0" encoding="utf-8"?>
<lmsClientSettingsSection>
  <clients>
    <add code="nxlevel"
         name="NXLevel Solutions, Inc." 
         entityConnStr="metadata=res://*/DataModel.DataModel.csdl|res://*/DataModel.DataModel.ssdl|res://*/DataModel.DataModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=192.168.1.14;initial catalog=lms_master;persist security info=True;user id=sa;password=nxadmin06!;MultipleActiveResultSets=True;App=EntityFramework&quot;"
         assetsFolder="nxlevel"/>
    <add code="other"  
         name="Some Company, Inc." 
         entityConnStr="metadata=res://*/DataModel.DataModel.csdl|res://*/DataModel.DataModel.ssdl|res://*/DataModel.DataModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=192.168.1.14;initial catalog=lms_company2;persist security info=True;user id=sa;password=nxadmin06!;MultipleActiveResultSets=True;App=EntityFramework&quot;" 
         assetsFolder="folder"/>
  </clients>
</lmsClientSettingsSection>
