#cs-content {
    border:1px solid #646463;
}
div.casestudy-current #buttons {
    visibility:hidden;
}
div.response-current #buttons {
    visibility:visible;
}
#casestudy {
    height:100%;
}
#casestudy p {
    margin:0 0 15px 15px;
}
#problem {
    height:92%;
	overflow:auto;
}

#problem img {
	float:right;
	margin: 15px 15px 0 15px;
	max-width:60%;
	max-height:100%;
}
#response {
    display:none;
	height:92%;
}
#response input[type="radio"] {
    margin: 10px 20px;
	width:16px;
	height:16px;
}

label, input[type="radio"] {
	cursor:pointer;
	outline:none;
	vertical-align: middle;	
}
#response-question {
    margin-bottom:10px;
}

.answer {
	background-repeat: no-repeat;
    background-position:  0px 13px;
	-webkit-transition-property: background-position;
    transition-property: background-position;
	-webkit-transition-duration: 500ms;
	transition-duration: 500ms;
	-webkit-transition-timing-function: ease-out;
	transition-timing-function: ease-out;
}

.correct {
	background-image: url(../interface/arrow.png);
    background-position: 9px 13px;
}

#response-feedback {
    border:1px solid #979797;
    border-radius:6px;
    -webkit-border-radius:6px;
    /* This is to prevent jagged borders in Webkit. */ 
    -webkit-background-clip: padding-box;
	-webkit-box-shadow: 0px 0px 4px 4px rgba(0, 0, 0, .20);
	box-shadow: 0px 0px 4px 4px rgba(0, 0, 0, .20);
	background:#ffffff;
	display:none;
	position:absolute;
	width:70%;
	height:70%;
	top:0px;
	left:15%;
	z-index:3;	
}

#response-feedback input.close {
	position:absolute;
	right:10px;
	bottom:10px;
}

#response-feedback .header {
	background:#646463;
    border-radius:6px 6px 0 0;
    -webkit-border-radius:6px 6px 0 0;
	height:1.5em;
	margin:0;
	padding:.2em 0 0;
	width:100%;
}

#response-feedback .header h4 {
	margin:0 0 0 15px;
	color:#ffffff;
}

#feedback-content {
	padding:10px;
}
#closeBtn {
	cursor:pointer;
	color:#babdbe;
	position:absolute;
	top:0;
	right:15px;
	height:1.7em
}
#closeBtn img {
	display:inline;
	vertical-align:middle;
	margin-left: 15px;
	height:1em;
	width:1em;
}
#prompt {
	margin:0 0 15px 15px;
}
#buttons {
	margin: 0 0 15px 15px;
}
#tabs > ul {
	height:40px;
	margin:0;
	padding:0; 
	list-style:none;
}

#tabs>ul li {
	float:left;
	margin-left:-27px;
}
#tabs>ul li.first {
	margin-left:0;
}

#tabs>ul a {
	display:block;
	color:#ffffff;
	text-decoration:none;
	padding:3px 0 0 5px;
	line-height:normal;
	height:37px;
	font-size: 190%;
	min-width:150px;
	float:left;
	background:#f89934;
	font-family: 'Lato-Regular',Arial, Helvetica, sans-serif;
}

#tabs > ul li.first a {
	background:#f89934;
	padding-left:10px;
}

#tabs > ul li.second:before {
	content:'';
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 0 30px 40px 0;
	border-color: transparent #f89934 transparent transparent;
	float:left;
	z-index:3;
}

#tabs > ul li.second:after {
	content:'';
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 40px 0 0 30px;
	border-color: transparent transparent transparent #f89934;
	float:left;
	z-index:3;
}

#tabs > ul li.first:before {
	display:none;
}

#tabs > ul li.first:after {
	content:'';
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 40px 0 0 30px;
	border-color: transparent transparent transparent #f89934;
	float:left;
	margin-right:1px;
	z-index:3;
}

#tabs > ul li.first.current:after {
	border-color: transparent transparent transparent #f26822;
	z-index:3;
}
#tabs > ul li.first.current a {
	background:#f26822;
}
#tabs > ul li.second.current:before {
	border-color: transparent #f26822 transparent transparent;
	z-index:3;
}
#tabs > ul li.second.current:after {
	border-color: transparent transparent transparent #f26822;
	z-index:3;
}
#tabs > ul li.second.current a {
	background:#f26822;
}
input[type="checkbox"] {margin:6px 3px 3px 20px;}