#header {
    margin: 15px;
}

.content-margin {
    margin: 0 15px 60px 15px;
}

#page-title span  { /* the span tag is for the Chapter Title when combined on one line */
    font-weight: bold;
}



/*default extra small devices (portrait phones, less than 576px)*/
#logo {
    width: 30%;
    float: right;
}
#course-title {
    Xfont-family: 'Open Sans', Arial, Helvetica, sans-serif;
    color: #f76719;
    text-transform: uppercase;
    font-weight: bold;
}
#chapter-title {
    Xfont-family: 'Open Sans', Arial, Helvetica, sans-serif;
    Xfont-size: 200%;
    display: none; /* remove if necessary: in this particular course it's HIDDEN */
    font-size: 15px;
    color: #686a6d;
    text-transform: uppercase;
    border-bottom: 1px solid #e1e1e1;
}
#page-title {
    Xfont-family: 'Open Sans', Arial, Helvetica, sans-serif;
    Xfont-size: 150%;
    font-size: 11px;
    line-height: 14px;
    Xfont-weight: bolder;
    color: #106baf;
    margin-bottom: 8px;
}
#frame-audio {
    width: 38px;
    height: 39px;
}
#frame-resume, #frame-audioreminder {
    display: none;
    position: absolute;
    top: 20%;
    width: 80%;
    height: 340px;
    left: 10%;
    zoom: 1;
    z-index: 1050;
}

/* Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) {
    #logo {
        width: 27%;
        float: right;
    }
    #course-title {
        font-size: 13px;
    }
    #chapter-title {
        font-size: 13px;
    }
    #page-title {
        font-size: 12px;
        line-height: 15px;
    }
    .content-margin {
        margin: 0 15px;
    }
    #frame-audio {
        width: 38px;
        height: 39px;
    }
    #frame-resume {
        display: none;
        position: absolute;
        top: 20%;
        left: 50%;
        margin-left: -200px;
        width: 400px;
        height: 210px;
        zoom: 1;
        z-index: 1050;
    }
}

/* Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) {
    #logo {
        width: 24%;
        float: right;
    }
    #course-title {
        font-size: 14px;
    }
    #chapter-title {
        font-size: 14px;
    }
    #page-title {
        font-size: 15px;
        line-height: 16px;
    }
    #frame-audio {
        width: 225px;
        height: 39px;
    }
}

/* Large devices (desktops, 992px and up)*/
@media (min-width: 992px) {
    #logo {
        width: 22%;
        float: right;
    }
    #course-title {
        font-size: 15px;
    }
    #chapter-title {
        font-size: 15px;
    }
    #page-title {
        font-size: 18px;
        line-height: 22px;
    }
    #frame-audio {
        width: 225px;
        height: 39px;
    }
}

/* Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) {
    #logo {
        width: 20%;
        float: right;
    }
    #course-title {
        font-size: 16px;
    }
    #chapter-title {
        font-size: 16px;
    }
    #page-title {
        font-size: 22px;
        line-height: 24px;
    }
    #frame-audio {
        width: 225px;
        height: 39px;
    }
}

 
 
#frameContents {
	position: absolute;
	overflow: hidden;
	left: 20px;				/* SET MARGINS HERE ACCORDING TO COMP */
	top: 66px; /* this will get overwritten by resize.js if necessary, but set starting position */
	bottom: 0px;
	right: 0px;
/*	z-index:40;			NOTE ON Z-INDEX: do not use z-index on main screen area or many jquery functions will not properly target the correct window; adjust order of items in course_root if necessary */
}

#frameSubCourse {
	border: none;
	display: none;
	position: absolute;
	top: 85px; /* default */
	left: 20px;				/* SET MARGINS HERE ACCORDING TO COMP */
	right:20px;				/* SET MARGINS HERE ACCORDING TO COMP */
    bottom: 0;
	-webkit-border-top-left-radius: 8px;
	-webkit-border-top-right-radius: 8px;
	border-top-left-radius: 8px;
	border-top-right-radius: 8px;
	zoom: 1;
	z-index:30; /* controlsBkgd is z-index 20 */
}

#frameSubCourseRight {
	display: none;
	position: absolute;
	left: 50%;
	top: 130px;
	width: 46%;
	bottom: 100px;
}
#frameTranscript {
	display: none;
	position: absolute;
	width: 50%;
	padding: 0px;
}
/*
#framePrompt {
	display: none;
	position: absolute;
	right: 0px;
	width: 169px;
	height: 64px;
	bottom: 45px;
	z-index:20;
}*/
#frame-back-next {
	width: 85px;
	height: 40px;
}
#frame-transcript-button {
	/*display: none;*/
	width: 52px;
	height: 40px;
}

#frame-page-indicator {
    width: 56px;
    height: 18px;
}

#frameToc, #frameGlossary, #frameReferences {
    display: none;
    position: absolute;
    border: 3px solid #ffffff;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    top: 10%;
    right: 15%;
    bottom: 20%;
    left: 15%;
    zoom: 1;
    z-index:1050;
}

#frameResources {
    display: none;
    position: absolute;
    border: 3px solid #ffffff;
    border-top-left-radius: 10px;
    -webkit-border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    -webkit-border-top-right-radius: 10px;
    left: 70px;
    bottom: 56px;
    width: 250px;
    height: 150px;
    z-index: 1050;
}
#frameHelp {
    display: none;
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    z-index: 1050;
}

#frameAudioPrompt {
	display: none;
	position: absolute;
	top: 180px;
	left: 300px;
	width: 400px;
	height: 150px;
	zoom: 1;
}
#frameSplash {
	display: none;
	position: absolute;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	z-index:1100;
}
#pop-background {
    display: none;
    position: absolute;
    left: 0px;
    top: 0px;
    height: 100%;
    width: 100%;
    /* Fallback for web browsers that doesn't support RGBa */
    background: rgb(255, 255, 255) transparent;
    /* RGBa with 0.6 opacity */
    background: rgba(255, 255, 255, 0.6);
    /* For IE 5.5 - 7*/
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#4d333333, endColorstr=#4d444444);
    /* For IE 8
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#4d333333, endColorstr=#4d444444)";*/
    z-index: 1040; /*above the course menu */
}
#frameLogger {
	display: none;
	position: absolute;
	left: 200px;
	top: 150px;
	width: 610px;
	height: 400px;
}
#frameGallery {
	position: absolute;
	left: 0px;
	top: 521px;
	width: 100%;
	height: 98px;
	overflow: hidden;
}
#frameSideBar {
	display: none;
	position: absolute;
	right: 0px;
	top: 200px;
	width: 450px;
	height: 270px;
	overflow: hidden;
}
#frameIPadBegin {
	display: none;
	position: absolute;
	top: 180px;
	left: 300px;
	width: 400px;
    height: 200px;
    z-index: 1040;
}
#frameIPadPortrait {
	display: none;
	position: absolute;
	top: 50%;
	margin-top: -160px;
	left: 50%;
	margin-left:-250px;
	width: 500px;
	height: 200px;
}