<p><font size="2" face="Arial"><strong>Please read   the following instructions carefully as they will assist you in activating your   account. If you are receiving an Account Inactive error message please be sure   that you have activated your account using these   instructions.</strong></font></p>
<p>
    <font size="2" face="Arial">
        Step   1:<br>
        Your   PharmaCertify Access Code is: {0}<br>
        Please   copy this code or print this email as you will need this code to   continue.
    </font>
</p>
<p>
    <font size="2" face="Arial">
        Step   2:<br>
        If your browser   is not already on the PharmaCertify Account Activation page please click on the   following link: <a href="{1}">{1}</a>
    </font>
</p>
<p>
    <font size="2" face="Arial">
        Step   3:<br>
        On the   PharmaCertify Account Activation page enter your email address, a unique   password (NOT the supplied global password), and your Access Code on this page   and click the Enter button. Your account is now activated. After your   PharmaCertify account is activated your browser will be redirected to the home   page for the training site.
    </font>
</p>
<p>
    <font size="2" face="Arial">
        Step   4:<br>
        For future   logins you will not need your Access Code, only your Username and the unique   password that you set during the Account Activation process. You can login to   your activated account at <a href="{2}">{2}</a>.
    </font>
</p>
<p>&nbsp;</p>
